@model HabitHomeView

@{
    ViewBag.Title = "Habit List";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/index.css" />
}

<h1 id="habitsRemaining">
    @if (Model.HabitsRemainingToday > 0)
    {
    @($"You have {Model.HabitsRemainingToday} habits remaining today.")
    }
    else
    {
    @("You're all done. Great job!")
    }
</h1>

<main>
    @foreach (var item in Model.Habits)
    {
    <div>
        <h3>@Html.DisplayFor(i => item.Name)</h3>
        <p>@Html.DisplayFor(i => item.IsActive)</p>
        <p>@Html.DisplayFor(i => item.Amount)</p>
        <p>@Html.DisplayFor(i => item.Unit)</p>
    </div>
    }
</main>